<div class="relative inline-block dropdown-container">
  <!-- Dropdown toggle button -->
  <button
    (click)="toggleDropdown()"
    aria-label="toggle profile dropdown"
    class="relative z-10 flex items-center p-2 text-sm text-gray-600 bg-white border border-transparent rounded-md focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:text-white dark:bg-gray-800 focus:outline-none"
  >
    <div class="w-8 h-8 overflow-hidden border-2 border-gray-400 rounded-full">
      <img
        src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
        class="object-cover w-full h-full"
        alt="avatar"
      />
    </div>
  </button>

  <!-- Dropdown menu -->
  <div
    *ngIf="isOpen"
    [@dropdownAnimation]="isOpen ? 'open' : 'closed'"
    class="absolute right-0 z-20 w-56 py-2 mt-2 overflow-hidden origin-top-right bg-white rounded-md shadow-xl dark:bg-gray-800"
  >
    <!-- Dropdown items -->
    <a
      href="#"
      class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
    >
      <img
        class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9"
        src="https://images.unsplash.com/photo-1523779917675-b6ed3a42a561?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d29tYW4lMjBibHVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=face&w=500&q=200"
        alt="Profile picture"
      />
      <div class="mx-1">
        <h1 class="text-sm font-semibold text-gray-700 dark:text-gray-200">{{ username }}</h1>
      </div>
    </a>

    <hr class="border-gray-200 dark:border-gray-700" />

    <a
      href="#"
      class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
      >View Profile</a
    >
    <a
      href="#"
      class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
      >Settings</a
    >

    <!-- Light/Dark mode toggle -->
    <label class="switch ml-6 my-3">
        <input type="checkbox" (click)="onToggleDarkMode()" />
        <span class="slider"></span>
      </label>

    <hr class="border-gray-200 dark:border-gray-700" />

    <a
      href="#"
      (click)="onLogout()"
      class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
      >Logout</a
    >
  </div>
</div>
