<div
  class="fixed inset-0 z-10 overflow-y-auto"
  role="dialog"
  aria-labelledby="modal-title"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0"
  >
    <span
      class="hidden sm:inline-block sm:h-screen sm:align-middle"
      aria-hidden="true"
      >&#8203;</span
    >
    <div
      class="relative inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl dark:bg-gray-900 sm:my-8 sm:w-full sm:max-w-sm sm:p-6 sm:align-middle"
    >
      <h3
        class="text-lg font-medium leading-6 text-gray-800 capitalize dark:text-white"
        id="modal-title"
      >
        Update User Details
      </h3>

      <!-- Username -->
      <label for="username" class="block mt-3">
        <input
          id="username"
          [(ngModel)]="user.username"
          name="username"
          type="text"
          placeholder="Username"
          class="block w-full px-4 py-3 text-sm text-gray-700 dark:text-white bg-white border rounded-md dark:border-gray-600 dark:bg-gray-900"
        />
      </label>

      <!-- Email -->
      <label for="email" class="block mt-3">
        <input
          id="email"
          [(ngModel)]="user.email"
          name="email"
          type="email"
          placeholder="Email"
          class="block w-full px-4 py-3 text-sm text-gray-700 dark:text-white bg-white border rounded-md dark:border-gray-600 dark:bg-gray-900"
        />
      </label>

      <!-- Password -->
      <!-- <label for="password" class="block mt-3">
          <input
            id="password"
            [(ngModel)]="user.password"
            name="password"
            type="password"
            placeholder="Password"
            class="block w-full px-4 py-3 text-sm text-gray-700 dark:text-white bg-white border rounded-md dark:border-gray-600 dark:bg-gray-900"
          />
        </label> -->

      <!-- Description -->
      <label for="description" class="block mt-3">
        <textarea
          id="description"
          [(ngModel)]="user.description"
          name="description"
          placeholder="Description"
          class="block w-full px-4 py-3 text-sm text-gray-700 dark:text-white bg-white border rounded-md dark:border-gray-600 dark:bg-gray-900"
        ></textarea>
      </label>

      <!-- City -->
      <label for="city" class="block mt-3">
        <input
          id="city"
          [(ngModel)]="user.city"
          name="city"
          type="text"
          placeholder="City"
          class="block w-full px-4 py-3 text-sm text-gray-700 dark:text-white bg-white border rounded-md dark:border-gray-600 dark:bg-gray-900"
        />
      </label>

      <!-- Hometown -->
      <label for="hometown" class="block mt-3">
        <input
          id="hometown"
          [(ngModel)]="user.hometown"
          name="hometown"
          type="text"
          placeholder="Hometown"
          class="block w-full px-4 py-3 text-sm text-gray-700 dark:text-white bg-white border rounded-md dark:border-gray-600 dark:bg-gray-900"
        />
      </label>

      <!-- Relationship Status -->
      <label for="relationship" class="block mt-3">
        <select
          id="relationship"
          [(ngModel)]="user.relationship"
          default="user.relationship"
          name="relationship"
          class="block w-full px-4 py-3 text-sm text-gray-700 dark:text-white bg-white border rounded-md dark:border-gray-600 dark:bg-gray-900"
        >
          <option value="" disabled>Select Relationship Status</option>
          <option value="single">Single</option>
          <option value="in a relationship">In a Relationship</option>
          <option value="married">Married</option>
          <option value="divorced">Divorced</option>
        </select>
      </label>

      <!-- Roles -->
      <!-- <label for="roles" class="block mt-3">
          <input
            id="roles"
            [(ngModel)]="user.roles"
            name="roles"
            type="text"
            placeholder="Roles (e.g., Admin, User)"
            class="block w-full px-4 py-3 text-sm text-gray-700 bg-white border rounded-md dark:border-gray-600 dark:bg-gray-900"
          />
        </label> -->

      <!-- Buttons -->
      <div class="mt-4 sm:flex sm:items-center sm:-mx-2">
        <button
          (click)="handleClose()"
          type="button"
          class="w-full px-4 py-2 text-sm font-medium text-gray-700 dark:text-white border rounded-md sm:w-1/2 sm:mx-2 dark:border-gray-700"
        >
          Cancel
        </button>
        <button
          (click)="updateUser()"
          class="w-full px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md sm:w-1/2 sm:mx-2"
        >
          Update User
        </button>
      </div>
    </div>
  </div>
</div>
