<div *ngIf="suggestedUsers.length > 0">
  <div
    *ngFor="let user of suggestedUsers"
    class="flex flex-col items-center mb-4 p-8 transition-colors duration-300 transform border rounded-xl hover:border-transparent group hover:dark:bg-gray-900 hover:bg-blue-900 dark:border-gray-700 dark:hover:border-transparent"
  >
    <img
      class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
      [src]="
                user?.profilePicture
                  ? 'http://localhost:3000/' + user.profilePicture
                  : 'https://icons.veryicon.com/png/o/miscellaneous/user-avatar/user-avatar-male-5.png'
              "
      alt=""
    />

    <h1
      [routerLink]="['/profile', user._id]"
      class="mt-4 text-2xl font-semibold cursor-pointer text-gray-700 capitalize dark:text-white group-hover:text-white"
    >
      {{ user.username }}
    </h1>

    <p class="mt-2 text-gray-500 dark:text-gray-300 group-hover:text-gray-300">
      Hi I am {{ user.username }}
    </p>

    <button
      (click)="followUser(user._id)"
      class="mt-3 px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600"
    >
      Follow
    </button>
  </div>
</div>
<p *ngIf="suggestedUsers.length === 0" class="text-center">
  No suggestions available
</p>
