<div class="flex min-h-screen bg-gray-100 dark:bg-gray-900">
  <!-- Left section -->
  <div
    class="flex-none w-1/4 p-4 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200"
  >
    <p class="text-center">Left Section</p>
  </div>

  <!-- Middle section -->
  <div
    class="flex-grow p-4 flex justify-center bg-gray-300 dark:bg-gray-700 text-gray-800 dark:text-gray-200"
  >
    <!-- Centering posts for a consistent layout -->
    <div class="w-full max-w-3xl">
      <app-post class="w-full"></app-post>
    </div>
  </div>

  <!-- Right section -->
  <div
    class="flex-none w-1/4 p-4 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200"
  >
    <p class="text-center mb-10">Suggested users</p>
    <app-suggested-users></app-suggested-users>
  </div>
</div>
