<div class="flex min-h-screen bg-gray-100 dark:bg-gray-900">
  <!-- Left section -->
  <div
    class="flex-none w-1/4 p-4 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200"
  >
    <p class="text-center">Left Section</p>
  </div>

  <!-- Middle section -->
  <div
    class="flex-grow p-4 bg-gray-300 dark:bg-gray-700 text-gray-800 dark:text-gray-200"
  >
    <!-- Timeline posts -->
    <app-post class="w-5/6"></app-post>
  </div>

  <!-- Right section -->
  <div
    class="flex-none w-1/4 p-4 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200"
  >
    <p class="text-center">Suggested users</p>
  </div>
</div>
