<div *ngIf="loggedIn" class="flex min-h-screen bg-gray-100 dark:bg-gray-900">
  <!-- Left section -->
  <div
    class="hidden md:flex flex-none w-1/4 p-4 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200"
  >
    <div class="w-full max-w-xs mx-auto">
      <app-sidebar></app-sidebar>
    </div>
  </div>

  <!-- Middle section -->
  <div
    class="flex-grow p-4 flex justify-center bg-gray-300 dark:bg-gray-700 text-gray-800 dark:text-gray-200"
  >
    <div class="w-full max-w-3xl pt-10">
      <h1 class="text-2xl font-bold mb-8">Settings</h1>

      <!-- User Info Update Section -->
      <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Update Profile</h2>

        <input
          [(ngModel)]="username"
          placeholder="Username"
          class="w-full px-4 py-2 rounded-md mb-2 dark:bg-gray-800 dark:text-gray-200"
        />
        <input
          [(ngModel)]="email"
          placeholder="Email"
          class="w-full px-4 py-2 rounded-md mb-2 dark:bg-gray-800 dark:text-gray-200"
        />
        <input
          [(ngModel)]="password"
          type="password"
          placeholder="Password"
          class="w-full px-4 py-2 rounded-md mb-2 dark:bg-gray-800 dark:text-gray-200"
        />
        <textarea
          [(ngModel)]="description"
          placeholder="Description"
          class="w-full px-4 py-2 rounded-md mb-2 dark:bg-gray-800 dark:text-gray-200"
        ></textarea>
        <input
          [(ngModel)]="city"
          placeholder="City"
          class="w-full px-4 py-2 rounded-md mb-2 dark:bg-gray-800 dark:text-gray-200"
        />
        <input
          [(ngModel)]="homeTown"
          placeholder="Home Town"
          class="w-full px-4 py-2 rounded-md mb-2 dark:bg-gray-800 dark:text-gray-200"
        />
        <select
          [(ngModel)]="relationship"
          class="w-full px-4 py-2 rounded-md mb-2 dark:bg-gray-800 dark:text-gray-200"
        >
          <option  value="" disabled>Select Relationship Status</option>
          <option value="single">Single</option>
          <option value="in a relationship">In a Relationship</option>
          <option value="married">Married</option>
          <option value="divorced">Divorced</option>
        </select>

        <button
          (click)="updateUser()"
          class="mt-4 px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500"
        >
          Update Profile
        </button>
      </div>
    </div>
  </div>
</div>
